doctype html
html(lang='ar')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title أُووبس! لم يتم العثور على شيء
        link(href='https://fonts.googleapis.com/css?family=Kanit:200' rel='stylesheet')
        link(type='text/css' rel='stylesheet' href='/Css/font-awesome.min.css')
        link(type='text/css' rel='stylesheet' href='/Css/style.css')
    body
        #notfound
            .notfound
                .notfound-404
                    h1 404
                h2 أُووبس! لم يتم العثور على شيء
                p ربما تمت إزالة الصفحة التي تبحث عنها إذا تم تغيير اسمها أو أنها غير متاحة مؤقتًا. 
                    a(href=localhost) العوده للصفحة الرئيسية
                .notfound-social
                    a(href='https://github.com/rn0x')
                        i.fa.fa-github
                    a(href='https://t.me/tqw24h')
                        i.fa.fa-telegram
                    a(href='https://api.whatsapp.com/send/?phone=966502054247&text=%D8%AE%D8%AF%D9%85%D8%A9')
                        i.fa.fa-whatsapp
